# Database connection

In [47]:
import os
import pymysql
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL
from sqlalchemy.types import Integer, Float


host = os.getenv('MYSQL_HOST')
port = os.getenv('MYSQL_PORT')
user = os.getenv('MYSQL_USER')
password = os.getenv('MYSQL_PASSWORD')
database = os.getenv('MYSQL_DATABASE')

conn = create_engine(URL(
    drivername="mysql",
    username=user,
    password=password,
    host=host,
    database=database,
    port=int(port),
)).connect()

# conn = engine.connect()

df = pd.read_sql_query("SELECT * FROM AMBER_Trigger",
    conn)
df.tail(10)

Empty DataFrame
Columns: [ID, beam_id, batch_id, sample_id, integration_step, compacted_integration_steps, time, DM_id, DM, compacted_DMs, SNR]
Index: []

# General utility functions

In [39]:
def get_header(filename, sep=' '):
    with open(filename, 'r') as f:
        return f.readline().split('\n')[0].split('# ')[1].split(sep)

In [41]:
filename = '../results/outputs/sigmaCut2.5/dm10.0_nfrb500_1536_sec_20190214-1542/dm10.0_nfrb500_1536_sec_20190214-1542.amber.trigger'
sep = ' '
header = get_header(filename, sep)

df = pd.read_csv(filename, sep=sep, names=header, skiprows=1)

In [46]:
dtypes={}
for value in header:
    if value in ['time', 'SNR']:
        dtypes[value] = Float()
    else:
        dtypes[value] = Integer()

df.to_sql(name='AMBER_Trigger', con=conn, if_exists='append', index=False)

In [21]:
df

,beam_id,batch_id,sample_id,integration_step,compacted_integration_steps,time,DM_id,DM,compacted_DMs,SNR
0,0,8,20589,1,2,9.03533,0,0,2,10.8729
1,0,11,10569,1,1,11.6969,0,0,1,8.92124
2,0,12,7043,1,1,12.5765,0,0,1,13.6096
3,0,16,1670,10,4,17.068,1613,322.6,67,25.6892
4,0,20,4036,5,7,21.3066,0,0,228,85.702
5,0,20,200,100,2,21.2992,230,46,2,8.13056
6,0,20,400,50,1,21.2992,239,47.8,2,8.06316
7,0,20,400,50,1,21.2992,245,49,1,8.06756
8,0,20,199,100,1,21.2951,274,54.8,4,8.34364
9,0,31,421,5,3,31.8302,407,81.4,8,13.458
10,0,39,15,50,7,39.9667,5,1,180,32.735
11,0,39,2,250,2,39.9565,209,41.8,61,9.13204
12,0,39,0,1000,1,39.936,253,50.6,4,8.04561
13,0,41,875,10,5,42.3424,1872,374.4,46,19.8473
14,0,43,793,10,2,44.3568,844,168.8,5,12.272
15,0,84,2593,1,1,86.1222,0,0,1,9.36941
16,0,86,354,10,2,88.209,245,49,10,13.9382
17,0,87,24972,1,1,90.1109,0,0,1,11.3009
18,0,88,508,1,1,90.1328,0,0,1,13.5428
19,0,88,4,250,1,90.153,80,16,5,8.1098
20,0,88,87,10,8,90.1476,205,41,249,90.559
21,0,88,2,250,1,90.1325,336,67.2,2,8.06539
22,0,88,0,1000,1,90.112,386,77.2,12,8.21545
23,0,88,0,1000,1,90.112,393,78.6,2,8.03425
24,0,97,1086,10,1,99.7728,1836,367.2,6,9.52519
25,0,98,6257,1,1,100.608,0,0,1,9.5495
26,0,102,15169,1,1,105.069,0,0,1,8.14293
27,0,102,2330,10,2,105.402,2030,406,18,17.1909
28,0,122,676,10,3,125.205,1065,213,18,10.7417
29,0,147,15560,1,1,151.165,0,0,1,8.25804
...,...,...,...,...,...,...,...,...,...,...
372,0,1295,2,1000,1,1326.16,1139,637.4,7,8.23919
373,0,1295,2,1000,1,1326.16,1144,638.4,3,8.34539
374,0,1295,2,1000,1,1326.16,1182,646,6,9.09794
375,0,1295,2,1000,1,1326.16,1188,647.2,1,9.09935
376,0,1295,2,1000,1,1326.16,1193,648.2,7,9.33559
377,0,1295,2,1000,1,1326.16,1212,652,18,9.46181
378,0,1295,34,50,9,1326.15,1742,758,733,134.245
379,0,1297,1258,10,5,1328.64,1294,668.4,39,19.3891
380,0,1304,337,10,2,1335.43,29,415.4,9,10.9688
381,0,1333,1822,10,2,1365.74,469,503.4,12,13.8303
382,0,1336,1283,10,2,1368.59,516,512.8,8,11.051
383,0,1354,363,50,7,1387.24,1446,698.8,203,39.4673
384,0,1354,180,100,1,1387.23,1562,722,4,8.53422
385,0,1357,5,1000,1,1389.77,1345,678.6,3,8.07866
386,0,1357,5,1000,1,1389.77,1378,685.2,49,8.4632
387,0,1357,98,50,8,1389.77,1612,732,452,63.1954
388,0,1357,4,1000,1,1389.73,1856,780.8,3,8.08632
389,0,1361,372,10,3,1393.82,248,459.2,22,18.7809
390,0,1361,73,50,1,1393.81,264,462.4,7,8.84035
391,0,1368,9,2500,6,1401.75,452,500,666,66.5349
392,0,1369,1,1000,3,1401.9,473,504.2,2048,56.0601
393,0,1381,1607,10,2,1414.8,1513,712.2,10,11.1942
394,0,1384,88,250,1,1418.12,955,600.6,4,8.14196
395,0,1384,437,50,8,1418.11,1134,636.4,429,70.1291
396,0,1426,25,500,1,1460.74,1467,703,10,8.43725
397,0,1426,1240,10,7,1460.73,1639,737.4,324,51.4133
398,0,1433,320,10,2,1467.52,1806,770.8,7,10.8248
399,0,1433,319,10,1,1467.52,1809,771.4,1,8.84861
400,0,1437,2240,10,2,1472.41,1067,623,7,11.7972
401,0,1491,4,2500,1,1527.19,550,519.6,5,8.86799