# Database connection

In [1]:
import os
import pymysql
import pandas as pd

host = os.getenv('MYSQL_HOST')
port = os.getenv('MYSQL_PORT')
user = os.getenv('MYSQL_USER')
password = os.getenv('MYSQL_PASSWORD')
database = os.getenv('MYSQL_DATABASE')

print (host, port, user, password, database)

conn = pymysql.connect(
    host=host,
    port=int(port),
    user=user,
    passwd=password,
    db=database,
    charset='utf8mb4')

df = pd.read_sql_query("SELECT * FROM AMBER_Trigger",
    conn)
df.tail(10)

alert_database_mysql 3306 root example alert_dev

Empty DataFrame
Columns: [ID, beam_id, batch_id, sample_id, integration_step, compacted_integration_steps, time_stamp, DM_id, DM, compacted_DMs, SNR]
Index: []

# General utility functions

In [6]:
def get_header(filename, sep=' '):
    with open(filename, 'r') as f:
        return f.readline().split('# ')[1].split(sep)

In [8]:
filename = '../amber_results/trigger/2019-01-30-02:39:59.RA13DEC60.amber.trigger'
sep = ' '
df = pd.read_csv(filename, sep=sep, names=get_header(filename, sep), skiprows=1)

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
df.to_sql('AMBER_Trigger', con=conn, index_label='ID')

/opt/conda/lib/python3.6/site-packages/pandas/core/generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': not all arguments converted during string formatting