In [1]:
%matplotlib inline

from matplotlib import pyplot as plt
from pandas import read_csv

In [2]:
def get_header(filename, sep=' '):
    with open(filename, 'r') as f:
        return f.readline().split('\n')[0].split('# ')[1].split(sep)

In [ ]:
filename='../results/outputs/sigmaCut2.5/dm10.0_nfrb500_1536_sec_20190214-1542/dm10.0_nfrb500_1536_sec_20190214-1542.amber.trigger'
sep=' '
read_csv(filename, sep=sep, names=header, skiprows=1)

In [5]:
dfs = {}
files = [
    'dm10.0_nfrb500_1536_sec_20190214-1542', 
    'dm50.0_nfrb500_1536_sec_20190214-1542',
    'dm100.0_nfrb500_1536_sec_20190214-1542', 
    'dm400.0_nfrb500_1536_sec_20190214-1542',
]
options = ['sigmaCut2.5', 'sigmaCut3.0', 'heimdall']
heimdall_header = ['ID', 'DetectionSNR', 'CandidateSampleNumber', 'CandidateTime', 'BoxcarFilterNumber', 'DispersionMeasureTrialNumber', 'DispersionMeasure', 'MembersInCluster', 'FirstCandidateSample', 'LastCandidateSample']

for file in files:
    for option in options:
        if option != 'heimdall':
            sep=' '
            filename = '../results/outputs/%s/%s/%s.amber.trigger' % (option, file, file)
            header = get_header(filename, sep)
            dfs[(file, option)] = read_csv(filename, sep=sep, names=header, skiprows=1)
        else:
            sep='\t'
            filename = '../results/outputs/%s/%s.cand' % (option, file)
            header = heimdall_header
            dfs[(file, option)] = read_csv(filename, sep=sep, names=header, skiprows=1)

In [6]:
dfs['dm10.0_nfrb500_1536_sec_20190214-1542', 'heimdall']

,ID,DetectionSNR,CandidateSampleNumber,CandidateTime,BoxcarFilterNumber,DispersionMeasureTrialNumber,DispersionMeasure,MembersInCluster,FirstCandidateSample,LastCandidateSample
0,6.06240,57574,2.35823,5,653,169.1910,1,57574,57576,NaN
1,6.41165,131740,5.39607,7,834,249.8670,1,131740,131752,NaN
2,6.14506,191872,7.85908,12,1404,781.5100,1,190720,192256,NaN
3,24.80190,180896,7.40950,5,1679,1337.3900,81,180864,180928,NaN
4,6.28421,78976,3.23486,6,1733,1485.8300,1,78976,78992,NaN
5,13.36910,29584,1.21176,5,1785,1644.2400,16,29568,29616,NaN
6,6.24865,419091,17.16600,4,29,10.5053,2,419091,419092,NaN
7,6.25247,419836,17.19650,2,163,36.6426,1,419836,419837,NaN
8,6.51504,301675,12.35660,6,823,244.1900,8,301675,301687,NaN
9,6.15625,403247,16.51700,5,926,302.0890,1,403247,403251,NaN
10,28.00900,416703,17.06820,4,958,322.4310,196,416691,416715,NaN
11,6.82975,373855,15.31310,7,1066,400.8040,2,373851,373867,NaN
12,6.06083,402979,16.50600,8,1300,637.2010,1,402979,402987,NaN
13,8.35326,259099,10.61270,5,1812,1733.0200,6,259099,259131,NaN
14,38.06630,318971,13.06510,6,1874,1955.3900,216,318939,319067,NaN
15,6.32936,540632,22.14430,4,145,33.0276,6,540630,540634,NaN
16,6.21508,551995,22.60970,5,230,50.5272,1,551995,551996,NaN
17,6.06897,736227,30.15590,6,395,88.8985,1,736227,736229,NaN
18,6.13438,638383,26.14820,9,739,204.3390,2,638355,638387,NaN
19,6.31283,738915,30.26600,7,989,343.3280,3,738915,738935,NaN
20,6.90023,735259,30.11620,11,1241,567.2900,1,734787,736587,NaN
21,36.74560,550619,22.55340,5,1276,607.8040,228,550595,550651,NaN
22,9.88309,641139,26.26110,4,1328,673.2560,14,641131,641155,NaN
23,18.59260,501307,20.53350,5,1625,1203.7200,42,501291,501339,NaN
24,15.26050,714011,29.24590,5,1652,1268.8000,25,713995,714043,NaN
25,6.17194,975742,39.96640,6,2,5.3790,2,975737,975746,NaN
26,6.00733,911395,37.33070,6,291,63.9067,2,911395,911396,NaN
27,15.39140,777105,31.83020,3,365,81.3629,58,777101,777111,NaN
28,6.24552,770447,31.55750,7,796,230.7230,1,770447,770451,NaN
29,20.86740,941067,38.54610,5,1429,820.7310,63,941051,941091,NaN
...,...,...,...,...,...,...,...,...,...,...
1528,6.07052,36807559,1507.64000,4,687,182.4690,1,36807559,36807561,NaN
1529,6.42507,36817877,1508.06000,8,717,194.8440,1,36817829,36817901,NaN
1530,6.20919,36698707,1503.18000,7,787,226.3770,1,36698707,36698719,NaN
1531,92.16420,36724923,1504.25000,6,1560,1060.3000,1957,36724859,36725003,NaN
1532,6.05212,37049712,1517.56000,4,194,42.9757,1,37049712,37049713,NaN
1533,6.29127,36936647,1512.93000,11,591,146.8450,2,36935981,36936685,NaN
1534,6.15749,37174403,1522.66000,6,1101,429.8210,1,37174403,37174411,NaN
1535,6.15749,36930243,1512.66000,8,1193,515.9670,1,36930227,36930251,NaN
1536,6.23653,37148363,1521.60000,8,1272,603.0350,4,37148355,37148379,NaN
1537,14.40420,37174747,1522.68000,5,1455,863.5810,49,37174731,37174779,NaN
1538,6.37408,36936331,1512.91000,8,1504,950.4280,2,36936331,36936347,NaN
1539,19.74300,37001531,1515.58000,6,1741,1509.1700,92,37001499,37001595,NaN
1540,6.91465,37127771,1520.75000,12,1834,1808.8800,5,37127515,37131035,NaN
1541,7.23052,36934171,1512.82000,12,1824,1774.0000,9,36933467,36935515,NaN
1542,10.13740,37077531,1518.70000,5,1885,1997.7200,11,37077531,37077563,NaN
1543,6.16271,37211659,1524.19000,12,208,45.8855,1,37211549,37211757,NaN
1544,9.35348,37376073,1530.92000,3,470,109.1190,12,37376071,37376077,NaN
1545,7.44656,37211425,1524.18000,11,563,137.4720,13,37210543,37212199,NaN
1546,6.47172,37388619,1531.44000,6,538,129.4480,4,37388611,37388623,NaN
1547,6.07182,37353431,1530.00000,3,871,269.8180,1,37353431,37353435,NaN
1548,6.81524,37211811,1524.20000,11,1052,389.7250,4,37211331,37212187,NaN
1549,6.76497,37177067,1522.77000,12,1431,823.9510,1,37177051,37177451,NaN
1550,13.08790,37254171,1525.93000,5,1523,986.3810,18,37254155,37254203,NaN
1551,6.03192,37192027,1523.39000,9,1716,1437.4100,1,37192027,37192043,NaN
1552,6.03962,37211387,1524.18000,11,1733,1485.8300,1,37211387,37211403,NaN
1553,10.10880,37307611,1528.12000,5,1824,1774.0000,11,37307611,37307643,NaN
1554,6.12465,37445739,1533.78000,10,1063,398.4050,1,37445731,37445755,NaN
1555,6.05076,37446219,1533.80000,6,1293,628.4860,1,37446219,37446227,NaN
1556,8.13277,37440283,1533.55000,12,1877,1966.8400,13,37439195,37440795,NaN
1557,6.04010,37442027,1533.63000,4,1550,1039.8000,1,37442027,37442043,NaN